{% extends 'base.html' %}

{% block title %}
{{ id_product.title }}
{% endblock %}

{% block body %}

<main class="px-3">
    <div class="container">
        <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit; text-align:center;">{{ id_product.title }}</font></font></h1>

        <div class="container">
          <div class="d-flex flex-row">
            <span class="badge badge-primary mr-2 text-primary">{{ tag }}</span>
            <span class="badge badge-secondary mr-2 text-primary">#sql</span>
            <span class="badge badge-success mr-2 text-primary">#php</span>
            <span class="badge badge-danger text-primary">#rust</span>
          </div>
        </div>

        <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ id_product.main_text }}</font></font></p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Узнать больше</font></font></a>
        </p>
        <form action="/product/{{ id_product.id }}/" method="post">
          <div class="mb-3">
            <label for="com" class="form-label">Ваше имя:</label>
            <input type="text" name="name" class="form-control" id="com" aria-describedby="text">

              <label for="com1" class="form-label">Отзыв:</label>
            <input type="text" name="text" class="form-control" id="com1" aria-describedby="text">
            <div id="emailHelp" class="form-text">Отзыв о сайте</div>
          </div>
          <input type="submit" class="btn btn-sm btn-outline-secondary" value="Добавить отзыв">
        </form>

    </div>
</main>
<section>
    <div class="container">
        <h6 class="display-6">Отзывы:</h6>

        {% for el in com_product %}

            <div class="comment p-3">
                <h5>{{ el.name }}</h5>
                <p class="lead">{{ el.text }}</p>
            </div>

        {% endfor %}
    </div>
</section>
<br><br>

{% endblock %}